-# A page for upload files
#main-container.container
  .jumbotron.mb-3
    %h1.settings Upload Files

    %table.table.table-bordered
      %thead
        %tr
          %th Title
          %th Filename
          %th Upload

      %tbody
        - @tasks.each do |task|
          - @task_allocations.each do |task_allocation|
            -if task.id == task_allocation.task_id and task.task_type == "File upload"
              %tr
                %td= task.task_name
                -if task_allocation.completed == false
                  = simple_form_for @upload_file do |f|
                    %td= "N/A"
                    %td= f.file_field :attachment

                    %td.no_border= f.button :submit, 'Submit', class: "btn btn-dark"
                    %td.hid= f.input :title, input_html: { value: task.file_title }

                    %td.hid= f.input :date_uploaded
                    %td.hid= f.association :vendor, selected: @vendor_name
                    %td.hid= f.input :task_allocation_id, input_html: { value: task_allocation.id }

                - @upload_files.each do |upload_file|  
                  = simple_form_for upload_file do |f|
                    -if upload_file.task_allocation_id == task_allocation.id
                      %td= upload_file.attachment_url[34..60]
                      %td= f.file_field :attachment

                      %td.no_border= f.button :submit, 'Update', class: "btn btn-dark"
                      %td.hid= f.input :title, input_html: { value: task.file_title }

                      %td.hid= f.input :date_uploaded, input_html: { value: upload_file.updated_at }
                      %td.hid= f.association :vendor, selected: @vendor_name
                
                = simple_form_for task_allocation do |f|
                  -if task.id == task_allocation.task_id
                    %tr
                      %td.hid= f.check_box :completed
                      %td.hid= f.button :submit
%br
%div
