#main-container.container
  .jumbotron.mb-3
    %h1 Listing Vendors

    %p there are #{@vendors.size} vendors.

    %br

    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th ID
          %th Company Name
          %th Company Number 
          %th Approved
          %th Service Type
          %th Jurisdiction
          %th 



      %tbody
        - @vendors.each do |vendor|
          %tr
            %td= vendor.name
            %td= vendor.id
            %td= vendor.company_number
            %td= vendor.approved
            %td= vendor.service_type 
            %td= vendor.jurisdiction 
            %td 
              %form{:action => "vendors"}
                %input{:name => "More Info", :type => "submit"}

    %br
