%h1 Listing alerts

%table
  %thead
    %tr
      %th Userid
      %th Date
      %th Text
      %th
      %th
      %th

  %tbody
    - @alerts.each do |alert|
      %tr
        %td= alert.UserID
        %td= alert.Date
        %td= alert.Text
        %td= link_to 'Show', alert
        %td= link_to 'Edit', edit_alert_path(alert)
        %td= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Alert', new_alert_path
